.logon-container {
    display: flex;
    margin-top: 80px;
    align-items: center;
    flex-direction: row;
    justify-content: center;

}

.logon-container section.form img {
    height: 150px;
}

.logon-container section.form form {
    margin-top: 50px;
}

