.home-container ul {
    margin-top: 70px;
    max-width: 1180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
    padding: 0 30px;
    margin: 32px auto;
    flex-direction: row;
    justify-content: center;
}

.home-container ul li {
    background: #6699F6;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    
}

.link {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 18px;
    list-style: none;
    align-items: center;
    background: #6699F6;
    padding: 32px;
    border-radius: 8px;
    margin-top: 15px;
    color: #f0f0f5;
    line-height: 25px;
    font-size: 22px;
    font-weight: bold;
}

.link img {
    height: 48px;
    margin-left: 10px;

}

