.employee-container {
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.employee-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.employee-container .content section {
    width: 100%;
    max-width: 380px;
}

.employee-container .content section h1 {
    margin: 0 0 22px;
    font-size: 32px;
}

.employee-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}

.employee-container .content form {
    width: 100%;
    max-width: 450px;
}

.employee-container .content form input, table
.employee-container .content form textarea {
    margin-top: 5px;
    padding: 15px;
    
 
}
.employee-container .content form table th, td, label {
    width: 80%;
    font-size: 15px;
    font-style: inherit;
    margin-left: 10px;
   
    
}

